openapi: 3.0.0
servers:
  - description: Production API
    url: https://api.studio.hypatos.ai/v1
  - description: Staging API
    url: https://api.studio.stage.hypatos.ai
info:
  description: |
    # Introduction
  
    Hypatos Studio offers a REST API which allows to
    interact with core resource and automate workflows.
    Currently the API covers a minimal set of operations and
    access may be provided upon request to Hypatos sales
    team.
    
    In order to interact with such API one must use an
    `application_id` and `application_key` pair which is
    used for authentication.
    # Authentication
    The `application_id` and `application_key` must be
    provided as basic authentication credentials, username
    and password respectively, in every request made to the
    API.
    
    For example a normal request would include the header:
    
    `Authorization: Basic <credentials>`
    
    where `<credentials>` is the base64-encoded string
    formed by `<application_id>:<application_key>`.
    # Webhooks

    Hypatos Studio allows you to define webhook URLs in the
    API settings area. Two types of webhooks are supported:
    `OnProcessingComplete` and `OnDocumentComplete`.

    The `OnProcessingComplete` webhook is triggered when the
    upload and processing of a document initiated through the
    REST API is complete. It will send a POST request to the URL
    provided in the configuration parameter `on_processing_complete_hook_url`
    with the following payload:


    ````json
    {
        "processingComplete": true,
        "projectId": "602bdd8a2622e20a638dc1bc",
        "documentId": "602a21b9f345f8301b028a77"
    }
    ````

    The `OnDocumentComplete` webhook is triggered when a document uploaded
    through the REST API is marked as "completed" through the Studio UI. It
    will send a POST request to the URL provided in the configuration parameter
    `on_document_complete_hook_url` with the following payload:

    ````json
    {
      "documentComplete": true,
      "projectId": "602bdd8a2622e20a638dc1bc",
      "documentId": "602a21b9f345f8301b028a77"
    }
    ````

  version: 0.0.2
  title: Hypatos API
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Documents
    description: |
      Hypatos studio offers upload via UI or API and supports a variety of different file types: PDF, TIF, JPEG, and PNG. 
  - name: Projects
    description: |
      Every company in Hypatos studio may have multiple projects.
  - name: Health
    description: |
      API health
x-tagGroups:
  - name: Projects & Documents
    tags:
      - Projects
      - Documents
  - name: Misc
    tags:
      - Health
paths:
  /health:
    $ref: './paths/health.yaml'
  /projects/:
    $ref: './paths/projects.yaml'
  /projects/{projectId}/documents:
    $ref: './paths/projects@{projectId}/documents.yaml'
  /projects/{projectId}/documents/{documentId}:
    $ref: './paths/projects@{projectId}/documents@{documentId}.yaml'
  /projects/{projectId}/documents/upload:
    $ref: './paths/projects@{projectId}/upload.yaml'
components:
  securitySchemes:
    $ref: './components/security-schemes/index.yaml'
  schemas:
    $ref: './components/schemas/index.yaml'